[include]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work

[core]
	editor = nvim

[init]
	defaultBranch = main

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate -10
	last = log -1 HEAD
	unstage = reset HEAD --

# [http]
# 	proxy = http://127.0.0.1:7897
# [https]
# 	proxy = https://127.0.0.1:7897
